<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
    <style>
        .center-div
        {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 350px;
            height: 300px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center-div">
        <img src="img/company-logo.png" alt="company-logo.png">
        <h3>Scheduled Maintenance</h3>
        <p>Please check back later!</p>
    </div>

</body>
</html>